.my-rect {
    -fx-fill: yellow;
    -fx-stroke: blue;
    -fx-stroke-width: 5;
    -fx-stroke-dash-array: 12 2 4 2;
    -fx-stroke-dash-offset: 6;
    -fx-stroke-line-cap: butt;
}
.my-button{
    -fx-background-color: #EDD826;
    -fx-border-color: gray;
    -fx-border-radius: 5px;
}
.my-button:hover{
    -fx-background-color: #EDD826;
    -fx-border-color: gray;
    -fx-border-radius: 5px;
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.mybackground{
    -fx-background-image: url('fond-8.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: 1400 800;
}
.my-textFile{
    -fx-background-color: #EDD826;
    -fx-border-color: gray;
    -fx-border-radius: 5px;
}
.my-textFile:hover {
    -fx-background-color: #EDD826;
    -fx-border-color: gray;
    -fx-border-radius: 5px;
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}
.my-listview{
    -fx-background-color: #EDD826;
    -fx-border-color: gray;
    -fx-border-radius: 5px;
}
.myconnexionpage{
    -fx-background-image: url('fond.jpg');
    -fx-background-repeat: no-repeat;
    -fx-background-size: 1400 800;
}
.mycreateaccount{
    -fx-background-image: url('fondcreacompte.jpg');
    -fx-background-repeat: no-repeat;
    -fx-background-size: 1400 800;
}
.my-numberticket{
    -fx-background-image: url('fondnumberticket.PNG');
    -fx-background-repeat: no-repeat;
    -fx-background-size: 600 400;
}
.my-payment{
    -fx-background-image: url('fondpayment.jpg');
    -fx-background-repeat: no-repeat;
    -fx-background-size: 500 400;
}
.my-seanceview{
    -fx-background-image: url('fondpayment.jpg');
    -fx-background-repeat: no-repeat;
    -fx-background-size: 500 400;
}
.my-overview{

}
